.cardContainer {
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #242424;
  border: none;
  width: 15rem;
  height: var(--card-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  perspective: 2500px;
  margin: 3rem;
  margin-bottom: 5rem;
}

.cover-image {
  width: 15rem;
  height: 22rem;
  object-fit: cover;
}

.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.card:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.card:hover .wrapper::after {
  height: 120px;
}

.cardTitleSection {
  color: #fff;
  text-align: center;
  margin-bottom: 10rem;
}
.title {
  color: #fff;
  text-align: center;
  margin-top: 16rem;
  margin-bottom: 2rem;
  width: 100%;
  transition: transform 0.5s;
}
.card:hover .title {
  transform: translate3d(0%, 60px, 100px);
}

.character {
  padding: 0 1rem;
  width: 15rem;
  height: 25rem;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}

.cardBtns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.cardButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  font-size: 15px;
  font-family: "Tilt Neon", sans-serif;
  text-decoration: none;
  width: 5rem;
  height: 50px;
  border-width: 1px;
  color: #242424;
  border: none;
  font-weight: bold;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(155, 155, 155, 1));
}

.cardButton:hover {
  transform: scale(1.05);
  transition: 0.3s;
  background: linear-gradient(rgba(155, 155, 155, 1), rgba(255, 255, 255, 1));
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  text-decoration: none;
  color: #242424;
}
